<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
<%# replaced the do loop across all users with partial render _user.html.erb %>
  <%= render @users %>
</ul>

<%# adding will paginate again add page links at bottom as well %>
<%= will_paginate %>